@model IEnumerable<ProjectStudyTool.Models.Card>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardSet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardSet!.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CardId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CardId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CardId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="flashcard-container">
    <div id="flashcard" class="flashcard" onclick="toggleFlashcard()">
        <div class="question">@Html.DisplayFor(model => model.FirstOrDefault()!.Question)</div>
        <div class="answer" style="display: none;">@Html.DisplayFor(model => model.FirstOrDefault()!.Answer)</div>
    </div>
</div>

<div id="navigation-arrows">
    <button onclick="previousFlashcard()"><i class="fas fa-arrow-left"></i></button>
    <button onclick="nextFlashcard()"><i class="fas fa-arrow-right"></i></button>
</div>
<script>
    // This will create a global JavaScript variable
    window.flashcards = @Html.Raw(Json.Serialize(Model));
</script>
<script src="~/js/site.js"></script>