@model IEnumerable<ProjectStudyTool.Models.CardDto>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
@{
    var loggedIn = User.Identity!.IsAuthenticated;
    var currIdx = 0;
}

<h1>@ViewBag.CardSetName</h1>

<div id="flashcard-count">
    <span id="current-flashcard">@currIdx</span> / <span id="total-flashcards">@Model.Count()</span>
</div>
<div id="flashcard-container">
    <div id="flashcard" class="flashcard" onclick="toggleFlashcard()">
        <div class="question">@Html.DisplayFor(model => model.FirstOrDefault()!.Question)</div>
        <div class="answer" style="display: none;">@Html.DisplayFor(model => model.FirstOrDefault()!.Answer)</div>
    </div>
</div>

<div id="navigation-arrows">
    <button onclick="previousFlashcard(decCardIndex)"><i class="fas fa-arrow-left"></i></button>
    <button onclick="nextFlashcard(incCardIndex)"><i class="fas fa-arrow-right"></i></button>
</div>

<script>
    // FIXME: this is causing bugs with circular dependency so check this**
    // needs to flip, on click, between question and answer
    // can't go to next question, or back to previous question because of circular dependency
    // This will create a global JavaScript variable
    // Create a JavaScript variable to hold the current card index
    var idx = parseInt("@currIdx");

    // Update the current card index span
   function incCardIndex() {
        let curr = parseInt(document.getElementById("current-flashcard").textContent);
        if (curr < @Model.Count()) {
            document.getElementById("current-flashcard").textContent = parseInt(curr) + 1;
        }
    }

    function decCardIndex() {
        let curr = parseInt(document.getElementById("current-flashcard").textContent);
        if (curr > 1) {
            document.getElementById("current-flashcard").textContent = parseInt(curr) - 1;
        }
    }
    // Display the current card index initially
    incCardIndex();

    window.flashcards = @Html.Raw(Json.Serialize(Model));
</script>
<script src="~/js/site.js"></script>